<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" verbose="4" parallel="tests" thread-count="10">

	<test name="Google Test">
		<parameter name="url" value="https://www.google.com" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testng_features.GoogleTest" />
		</classes>
	</test>
	<test name="Amazon Test">
		<parameter name="url" value="https://www.amazon.de/" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testng_features.AmazonTest" />
		</classes>
	</test>
	<test name="Opencart Test">
		<parameter name="url"
			value="https://naveenautomationlabs.com/opencart/index.php?route=account/login" />
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="testng_features.OpencartTest" />
		</classes>
	</test>
</suite>
	